.hero{
    margin-top: 3rem;
}

.hero-right img{
    width: 600px;
}

.hero-left{
    width: 40%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero-left h1{
    font-size: 3rem;
}

.hero-left p{
    
    font-weight: bold;
    color: var(--cor_buttom);
}

.hero-left .button-area{
    
    display: flex;
    gap: 5px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.hero-right{
    width: 60%;
    display: flex;
    justify-content: center;
}




@media (max-width: 1020px) {
    .hero-right img{
        width: 500px;
    }

}


@media (max-width: 915px) {
    .hero-right img{
        width: 400px;
    }

    .hero-left .button-area{
        
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 10px;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .hero-left h1{
        font-size: 2.5rem;
    }

    .hero-left p{
        font-size: 14px;
        font-weight: bold;
        color: var(--cor_buttom);
    }
}

@media (max-width: 743px) {
    .hero-right img{
        width: 350px;
    }

    .hero-left h1{
        font-size: 2rem;
    }

    .hero-left p{
        font-size: 12px;
        font-weight: bold;
        color: var(--cor_buttom);
    }
}

@media (max-width: 690px){
    .hero-left .button-area{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 10px;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 605px){
    .hero-left{
        width: 100%;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        
    }
    
    .hero-left h1{
        font-size: 3rem;
    }
    
    .hero-left p{
        
        font-weight: bold;
        color: var(--cor_buttom);
    }

    .hero-left .button-area{
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 5px;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .hero-right{
        display: none;
    }
}
