@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
}


.container{
    display: flex;
}

.left-container {
    position: relative;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.right-container{
    width: 50%;
    background-color: #D5E4CB;
    padding: 15px 50px;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
}

.login{
    width: 100%;
    max-width: 400px;
    height: 500px;
    display: flex; /* Adiciona display flex */
    flex-direction: column; /* Define a direção do flex como coluna */
    justify-content: center; /* Centraliza verticalmente */
}

.img {

    width: 550px;
    height: 500px;
    border-radius: 50px;
}

.tit{
    padding: 5px;
    margin: auto; 
}

.input-box{
    padding: 0px 10px;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    margin: 15px 0;
}


.input-box input {
    width: 100%;
    height: 100%;
    background-color: #e1ecdf;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000;
}

.input-box i {
    position: absolute;
    padding: 15px;
    font-size: 20px;
    transform: translate(-100%);
}


.remember-forgot {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
 
}


.remember-forgot a {
    padding-left: 5px;
    color: #006ff1;
    text-decoration: none;
    font-weight: bold;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    margin: 50px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px;
    transition: all 0.3s;
    border: #96BB7C solid 3px;
}

.btne{
    padding: auto;
    background-color: #96BB7C;
}


.back-container {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0;
}


.back-btn {
    display: block;
    padding: 0.9rem;
    width: 120px;
    background-color: #96BB7C;
    color: #FFFFFF;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s;
    border: #96BB7C solid 3px;
}


.back-btn:hover {
    color: #96BB7C;
    background-color: #FFFFFF;
}



.btn:hover {
    color: #96BB7C;
    background-color: #FFFFFF;
}





