@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFFFFF;
}

.left-container {
    display: flex;
    padding-left: 180px;
}

.left {
    padding-top: 40px;
    width: 420px;
    color: #000;
}

.left h1 {
    margin-top: 60px; 
    font-size: 36px;
    padding-top: 80px;
    text-align: center;
}

.left .input-box {
    width: 100%;
    height: 50px;
    background: #F4F4F4;
    border-radius: 40px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: #e1ecdf;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000;
}

.input-box i {
    position: absolute;
    padding: 15px;
    font-size: 20px;
    transform: translate(-100%);
}

.left .remember-forgot {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px; 
}

.remember-forgot a {
    padding-left: 5px;
    color: #006ff1;
    text-decoration: none;
    font-weight: bold;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.back-container {
    padding-top: 40px;
    margin-left: 40px;
}

.back-btn {
    display: block;
    padding: 0.9rem;
    width: 120px;
    background-color: #96BB7C;
    color: #FFFFFF;
    border-radius: 7px;
    text-align: center;
    transition: all 0.3s;
    border: #96BB7C solid 3px;
}

.back-btn:hover {
    color: #96BB7C;
    background-color: #FFFFFF;
}

.btn {
    display: block;
    margin: 50px;
    text-align: center;
    background-color: #96BB7C;
    color: #FFFFFF;
    padding: 0.9rem;
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.3s;
    border: #96BB7C solid 3px;
}

.btn:hover {
    color: #96BB7C;
    background-color: #FFFFFF;
}

main {
    overflow: hidden;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 1100px;
    height: 100%;
    background-color: #D5E4CB;
}

.img {
    position: absolute;
    width: 700px;
    right: 200px;
    top: 200px;
    height: auto;
    border-radius: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: #D2EDB7;
}

.footer-container {
    display: flex;
    padding: 2px;
    color: #000
}

.footer-container ul {
    padding-left: 60px;
    align-items: center;
    width: 25%;
}

.bxs-phone {
    position: absolute;
    font-size: 18px;
    transform: translateY(-210%);
    left: 50px;

}

.bx-envelope {
    position: absolute;
    font-size: 18px;
    transform: translateY(-100%);
    left: 50px;

}

.bxl-instagram {
    position: absolute;
    font-size: 18px;
    transform: translateY(-95%);
    left: 50px;

}

.bxl-periscope {
    position: absolute;
    font-size: 18px;
    transform: translateY(-320%);
    left: 525px;

}