.dropdown a:hover {
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    color: #252525;
    background-color: transparent;
}

.menu-desktop li a:hover {
    color: green;
    border-bottom: 2px solid green;
}