<link rel="stylesheet" href="/css/modal_excluir.css">

<div id="modal-confirmacao" class="modal">
    <div class="modal-content">
        <p>Tem certeza que deseja excluir este post?</p>
        <div class="modal-buttons">
            <button id="btn-confirmar-exclusao">Confirmar</button>
            <button id="btn-cancelar-exclusao">Cancelar</button>
        </div>
    </div>
</div>