<!--- Destinada a Página Inicial --->

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <title>Juracy Maria Brosig</title>
    <link rel="stylesheet" href="/css/import.css">
    <link rel="stylesheet" href="/css/ensino.css">
    <link rel="stylesheet" href="/css/menudrop.css">
    <!--Google fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>

        <nav class="interface flex">
            <div class="logotipo">
                <a href="/">
                    <img src="/img/favicon.svg" alt="-">
                    <p>JURACY MARIA BROSIG</p>
                </a>
            </div>
        
            <div class="menu-desktop flex">
                <ul>
                    <li class="dropdown " id="dropdownMenu">
                        <a class="item-nav" href="#" onclick="toggleDropdown()">Níveis de ensino</a>
                        <div class="dropdown-menu" id="dropdownContent" style="display: none; position: absolute;">
                            <a class="dropdown" href="/fund1">Ensino Fundamental 1</a>
                            <a class="dropdown" href="/fund2">Ensino Fundamental 2</a>
                            <a class="dropdown" href="/medio">Ensino Médio</a>
                        </div>
                    </li>
                    <li><a class="item-nav" href="/sobre">Sobre</a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=554796297971&text=Ol%C3%A1,%20cheguei%20at%C3%A9%20voc%C3%AA%20atrav%C3%A9s%20do%20site%20do%20Juracy%20e%20estou%20precisando%20de%20assist%C3%AAncia." target="_blank" rel="nofollow">Contato</a></li>
                    <li>
                        <a href="/login">
                            <button class="btn">
                                LOGIN
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </a>
                    </li>
                    <li><i class="bi bi-list hamburguer" onclick="abrirHamburguer()"></i></li>
                </ul>
            </div>  
        </nav>
        
        

        <!--
    <nav class="interface flex">
        <div class="logotipo">
            <a href="/">
                <img src="../img/favicon.svg" alt="-">
                <p>JURACY MARIA BROSIG</p>
            </a>
        </div>

        <div class="menu-desktop flex">
            <ul>
                <li><a class="item-nav" href="#">Níveis de ensino</a></li>
                <li><a class="item-nav" href="/sobre">Sobre</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=554796297971&text=Ol%C3%A1,%20cheguei%20at%C3%A9%20voc%C3%AA%20atrav%C3%A9s%20do%20site%20do%20Juracy%20e%20estou%20precisando%20de%20assist%C3%AAncia." target="_blank" rel="nofollow">Contato</a></li>
                <li>
                    <a href="/login">
                        <button class="btn">
                            LOGIN
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </a>
                </li>
                <li><i class="bi bi-list hamburguer" onclick="abrirHamburguer()"></i></li>
            </ul>
        </div>  
    </nav>-->

    </header>
    <div class="fund1">
        <img src="/img/enmedio.png" class="fotoe">
    </div>

    <div class="sobrx div-relevo">
        <p>
            O Ensino Médio marca o início de uma nova fase na jornada educacional dos jovens. É um período de transformação,
             de amadurecimento e de preparação para os desafios do futuro. Aqui, cada passo dado é uma oportunidade de 
             crescimento e de construção de um caminho sólido e promissor.
        </p>
        <br>
        <p>
            Durante o Ensino Médio, os alunos se aprofundam nos estudos, explorando temas complexos e desenvolvendo habilidades
            críticas para o sucesso acadêmico e profissional. É um momento de descobertas, de questionamentos e de reflexões,
             onde o aprendizado vai além das páginas dos livros e se conecta com a realidade do mundo.
        </p>
        <br>
        <p>
            Aqui, cada disciplina é uma oportunidade de ampliar os horizontes do conhecimento, seja nas áreas das ciências,
             das humanidades, das artes ou das tecnologias. E mais do que isso, o Ensino Médio é uma fase de preparação para 
             a vida, onde os alunos são incentivados a desenvolver habilidades socioemocionais, éticas e cívicas que os
             tornarão cidadãos conscientes e responsáveis.
        </p>
        <br>
        <p>
            Portanto, jovens, aproveitem cada momento dessa jornada. Sejam curiosos, sejam perseverantes, sejam protagonistas
             de suas próprias histórias. O futuro está em suas mãos, e o Ensino Médio é apenas o começo de uma jornada 
             extraordinária que está por vir!
        </p>
        <div>
            </div>
            <br><h3>Lista de Material para o Ensino Médio:</h3><br>
            <ul>
                <li>1. Cadernos universitários ou fichários</li>
                <li>2. Canetas esferográficas de diversas cores</li>
                <li>3. Lápis preto e lapiseiras</li>
                <li>4. Borrachas de boa qualidade</li>
                <li>5. Apontadores</li>
                <li>6. Réguas e esquadros</li>
                <li>7. Calculadora científica</li>
                <li>8. Computador ou tablet para atividades escolares</li>
                <li>9. Mochila resistente e ergonômica</li>
                <li>10. Papel sulfite e blocos de anotações</li>
                <li>11. Dicionários de língua portuguesa e outras disciplinas</li>
            </ul>
        </div><br>


    </div>
    
    <footer>
        <div class="interface footer flex">
            <div class="container-contacts flex">
                <p>CONTATOS</p>
                <div class="phone flex">
                    <i class="bi bi-telephone-fill"></i>
                    (47) 3461-1297
                </div>
                <div class="email flex">
                    <i class="bi bi-envelope-fill"></i>
                    email@email.com
                </div>
                <div class="instagram flex">
                    <i class="bi bi-instagram"></i>
                    @instagram
                </div>
            </div>
            <div class="container-location flex">
                <div class="title-location flex">
                    <i class="bi bi-pin-map-fill"></i>
                    Nossa Localização
                </div>
                <p>R. dos Metalúrgicos, 0 - Paranaguamirim, Joinville - SC, 89231-530</p>
            </div>
            <div class="logo-prefeitura">
                <img src="/img/logo_prefeitura.png" alt="NOT FOUND">
            </div>
                
        </div>
    </footer>

    <script src="/javascript/menudrop.js"></script>

</body>
</html>