<!--- Destinada a Página Inicial --->

<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <title>Juracy Maria Brosig</title>
    <link rel="stylesheet" href="/css/import.css">
    <link rel="stylesheet" href="/css/sobre.css">
    <link rel="stylesheet" href="/css/menudrop.css">
    <!--Google fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <div >
    <header>
        <nav class="interface flex">
            <div class="logotipo">
                <a href="/">
                    <img src="/img/favicon.svg" alt="-">
                    <p>JURACY MARIA BROSIG</p>
                </a>
            </div>
        
            <div class="menu-desktop flex">
                <ul>
                    <li class="dropdown " id="dropdownMenu">
                        <a class="item-nav" href="#" onclick="toggleDropdown()">Níveis de ensino</a>
                        <div class="dropdown-menu" id="dropdownContent" style="display: none; position: absolute;">
                            <a class="dropdown" href="/fund1">Ensino Fundamental 1</a>
                            <a class="dropdown" href="/fund2">Ensino Fundamental 2</a>
                            <a class="dropdown" href="/medio">Ensino Médio</a>
                        </div>
                    </li>
                    <li><a class="item-nav" href="/sobre">Sobre</a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=554796297971&text=Ol%C3%A1,%20cheguei%20at%C3%A9%20voc%C3%AA%20atrav%C3%A9s%20do%20site%20do%20Juracy%20e%20estou%20precisando%20de%20assist%C3%AAncia." target="_blank" rel="nofollow">Contato</a></li>
                    <li>
                        <a href="/login">
                            <button class="btn">
                                LOGIN
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </a>
                    </li>
                    <li><i class="bi bi-list hamburguer" onclick="abrirHamburguer()"></i></li>
                </ul>
            </div>  
        </nav>

  
    </header>   



        <div class="sobrx div-relevo">
            <div>
                <h1 class="alinhar-title">Hábitos Saudáveis</h1>
            </div><br>

            <p>
                    Manter hábitos saudáveis é fundamental para promover uma vida equilibrada e plena. Um estilo de vida 
                saudável não apenas contribui para o desenvolvimento físico, mas também é crucial para o bem-estar mental 
                e emocional. Os benefícios de adotar práticas saudáveis são vastos, incluindo o aumento da energia, a
                 melhora do humor, a prevenção de doenças e o aprimoramento da qualidade de vida. Implementar e manter 
                 hábitos saudáveis pode parecer desafiador no início, mas os resultados a longo prazo são extremamente 
                 recompensadores. Aqui estão alguns hábitos importantes que podem ajudar a manter a saúde e melhorar o 
                 bem-estar geral:
            </p><br>

            <h3>Alimentação Equilibrada</h3>
            <p>
                    Uma alimentação equilibrada é essencial para fornecer ao corpo os nutrientes necessários para funcionar corretamente. 
                Incluir uma variedade de frutas e verduras na dieta diária garante a ingestão de vitaminas e minerais essenciais. 
                Além disso, nunca pular o café da manhã é importante, pois ele fornece a energia necessária para começar o dia.
                 Manter-se hidratado bebendo bastante água ao longo do dia também é fundamental para o bom funcionamento do organismo.
            </p><br>

            <h3>Atividade Física Regular</h3>
            <p>
                    A prática regular de atividade física é crucial para a saúde. Exercitar-se ao menos 60 minutos diariamente, 
                incluindo uma variedade de atividades como esportes, caminhadas, ciclismo e dança, ajuda a fortalecer o corpo, 
                melhorar a resistência cardiovascular e aumentar a flexibilidade. Além disso, a atividade física regular pode 
                melhorar o humor e reduzir o estresse.   
            </p><br>

            <h3>Sono Adequado</h3>
            <p>
                    O sono de qualidade é vital para a saúde geral. Ter um horário regular para dormir e acordar, garantindo pelo 
                menos 8-10 horas de sono por noite, ajuda o corpo a se recuperar e a manter um bom nível de energia. Criar um 
                ambiente tranquilo e confortável para dormir, evitando o uso de eletrônicos antes de dormir, contribui para um 
                sono mais reparador.
            </p><br>

            <h3>Saúde Mental</h3>
            <p>
                    Cuidar da saúde mental é tão importante quanto cuidar da saúde física. Praticar técnicas de relaxamento como
                 meditação, respiração profunda e yoga pode ajudar a gerenciar o estresse. Reservar tempo para atividades 
                 recreativas e hobbies, bem como manter boas relações com amigos e familiares, são práticas que promovem a 
                 saúde mental. Buscar apoio quando necessário também é crucial para manter um equilíbrio emocional. 
            </p><br>

            <h3>Higiene Pessoal</h3>
            <p>
                    Manter uma boa higiene pessoal é essencial para prevenir doenças e infecções. Escovar os dentes pelo menos
                 duas vezes ao dia e usar fio dental mantém a saúde bucal. Lavar as mãos regularmente ajuda a prevenir a 
                 propagação de germes, e tomar banho diariamente, além de manter as unhas limpas e cortadas, são práticas 
                 importantes para a higiene geral.
            </p><br>

            <h3>Evitar Comportamentos de Risco</h3>
            <p>
                    Evitar o uso de substâncias nocivas como álcool, tabaco e drogas é fundamental para a saúde a longo prazo.
                 Além disso, ser cuidadoso ao navegar na internet e usar redes sociais é importante para manter a segurança
                  online e evitar situações de risco.
            </p><br>

            <p>
                    Adotar e manter esses hábitos saudáveis é essencial para uma vida equilibrada e satisfatória. Os benefícios
                 incluem um melhor desempenho acadêmico e profissional, desenvolvimento físico e mental adequado, prevenção
                  de doenças e um aumento geral na qualidade de vida e felicidade. A implementação de práticas saudáveis 
                  contribui para um futuro mais promissor e bem-estar duradouro.
            </p>

        </div>



    <footer>
        <div class="interface footer flex">
            <div class="container-contacts flex">
                <p>CONTATOS</p>
                <div class="phone flex">
                    <i class="bi bi-telephone-fill"></i>
                    (47) 3461-1297
                </div>
                <div class="email flex">
                    <i class="bi bi-envelope-fill"></i>
                    email@email.com
                </div>
                <div class="instagram flex">
                    <i class="bi bi-instagram"></i>
                    @instagram
                </div>
            </div>
            <div class="container-location flex">
                <div class="title-location flex">
                    <i class="bi bi-pin-map-fill"></i>
                    Nossa Localização
                </div>
                <p>R. dos Metalúrgicos, 0 - Paranaguamirim, Joinville - SC, 89231-530</p>
            </div>
            <div class="logo-prefeitura">
                <img src="/img/logo_prefeitura.png" alt="NOT FOUND">
            </div>
                
        </div>
    </footer>

    <script src="/javascript/funcoesFrontPagInicial.js"></script>
    <script src="/javascript/menudrop.js"></script>
</body>
</html>