.footer{
    width: 100%;
    height: 150px;
}

.container-contacts{
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container-contacts p{
    font-weight: bold;
}

.container-contacts .phone{
    align-items: center;
    gap: 5px;
}

.container-contacts .email{
    align-items: center;
    gap: 5px;
}

.container-contacts .instagram{
    align-items: center;
    gap: 5px;
}

.container-location{
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-location .title-location{
    font-weight: bold;
    gap: 10px;
    margin-bottom: auto;
}

.logo-prefeitura{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;
}

.logo-prefeitura img{
    width: 80%;
    height: auto;
}